body{
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
  user-select: none; /* 标准语法 */
}

.header{
  box-sizing: border-box
  position absolute
  left: 0
  top: 0
  padding: 0 180px
  display: flex
  justify-content: space-between
  align-items: center
  height: 100px
  width: 100%
  color: white
  .logo{
    display: flex
    align-items: center
    margin 0
    width 56px
    cursor pointer
    span{
      margin-left 12px
      font-weight: bold;
      background: -webkit-gradient(130deg, #E5EB5C 40%,#8EEE34 100%);
      background: linear-gradient(130deg, #E5EB5C 40%,#8EEE34 100%);
      -webkit-background-clip: text; /* 对于 Safari */
      background-clip: text;
      color: transparent; /* 将文字颜色设置为透明 */
    }
  }
  .nav{
    display: flex
    gap: 48px
    .nav-item{
      padding: 10px 20px
      border-radius: 4px
      transition: .25s
      cursor: pointer
      font-size: 21px
      background-color: rgba(0,0,0,0)
      &:hover{
        background-color: rgba(0,0,0,.06)
      }
      &::before{
        content: ''
        position absolute
        margin-top 28px
        margin-left 1px
        width 40px
        height 3px
        background-color rgb(112, 192, 0)
        opacity 0
        transform: scale(0)
        transition: .25s
      }
      &:hover::before{
        opacity 1
        transform: scale(1)
      }
    }
  }
}
.top-bgImg{
  z-index: -100
  position fixed
  width 100%
  height 100%
  background-repeat: no-repeat;
  background-size: cover;
  background-position center
  background-image url('@/assets/bg2.jpg')
  .middle-content{
    margin 0
    padding: 0
    position absolute
    top 50%
    left 50%
    transform translate(-50%, -50%)
    width: 100%
    text-align: center
    color white
    font-size 16px
    .top-title{
      margin 0
      margin-bottom 30px
      font-size 80px
      font-weight 400
      // 字体间隔
      letter-spacing 6px
    }
    .green-line{
      margin 0 auto
      margin-bottom 24px
      width 78px
      height 4px
      background-color rgb(112, 192, 0);
    }
  }
}